<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="appLog.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="username" value="testuser.2016@mail.ru"></add>
    <add key="password" value="qwerty123qwerty"></add>
    <add key="themeLetter" value="message"></add>
    <add key="messageUser" value="Hello!"></add>
    <add key="message" value="Hello!\r\n\r\n\r\n--\r\ntest user"></add>
    <add key="emptyMessage" value="У вас нет незавершенных писем"></add>
    <add key="BaseUrl" value="https://e.mail.ru"></add>
    <add key="SentPage" value="/messages/sent/"></add>
    <add key="LoginPage" value="https://mail.ru/"></add>
    <add key="InboxPage" value="/messages/inbox/"></add>
    <add key="DraftsPage" value="/messages/drafts/"></add>
    <add key="BrowserName" value="FIREFOX"></add>
    <add key="TimeoutSeconds" value="30"></add>
  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>